  
  body{
	   margin: 0px;
	   padding: 0px;
	   font-family: sans-serif;
}
.backgroundImg
{
	background-image:url('../resources/img/car-backgroundimg.jpg');
	background-size: 100% 100%;
	width:100%;
	height: 100vh;
}	
.menu
{
	width:100%;
	height: 100px;
	background: rgba(0,0,0,0.5);
	
} 
.leftMenu
{
	width:25%;
	line-height: 60px; 
	float: left;
	
	
} 
.leftMenu h4{
	padding left: 70px;
	font-weight: bold;
	font-size: 30px;
	color:#ffffff;
	
	
	
}
.rightMenu
{
	width:75%;
	height: 100px;
	float: right;
	
}
.rightMenu ul{
	margin-left: 150px;
}

.rightMenu ul li{
	display: inline-block;
	list-style: none;
	font-size:20px;
	font-weight: bold;
	line-height: 100px;
	color:#ffffff;
	margin-left: 30px;
}
#list1
{
	color: #00ffff;
}
.rightMenu ul li:hover
{
	color: #00ffff;
}
.TextPara
{
	margin-top: 100px;
	width: 100%;
	text-transform: uppercase;
	text-align: center;
	color:#9bc81d;
}
.TextPara h4
{
	font-weight: bold;
	font-size: 20px;
}
.TextPara h1
{
	font-size: 40px;
	font-weight: 700px;
	margin: 13px 0px;
}
#btn1
{
	background-color: #ffffff;
	border: none;
	font-size: 20px;
	line-height: 40px;
	width: 150px;
	margin-top: 25px;
	border: 3px #ffffff;
	
}

#btn2
{
	background-color: #ffffff;
	border: none;
	font-size: 20px;
	line-height: 40px;
	width: 150px;
	margin-top: 25px;
	border: 3px #ffffff;

}
.sign_up
{
	width:300px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    background : #ffffff;
	padding: 20px;
	margin: 8% auto 0;
	text-align: center;
}
.loginform h2{
	
}
/*Display here SERVICE css*/
.backimgService
{
	background-image:url('../img/Homecar.jpg');
	background-size: 100% 100%;
	width:100%;
	height: 100vh;
}	
#btn3Ser
{
	background-color: #ffffff;
	border: none;
	font-size: 20px;
	line-height: 40px;
	width: 150px;
	margin-top: 10px;
	border: 3px #ffffff;

}
#btn4Ser
{
	background-color: #ffffff;
	border: none;
	font-size: 20px;
	line-height: 40px;
	width: 150px;
	margin-top: 10px;
	border: 3px #ffffff;

}

.rightMenu ul ul{
	display: none;
	
}
.rightMenu ul ul{
	background:#000000;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100%;
}
.rightMenu ul ul a{
	padding: 25px;
	color:#ffffff;
	width: 300px;
	text-align: right;
}
.rightMenu ul ul a li{
	float: none;
	position: relative;
}
.paraService
{
color: #aa0000;
	
}

/* --about us--*/
.img-wrap
{
	width: 100%;
	
}
.img-wrap img
{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	}
	
	p.paraAbout1
	{
		
		padding-left: 50px;
		padding-right: 50px;
		color: #ff5500;
		font-size: 20px;
		
	}
	p.paraAbout2
{

	padding-left: 50px;
	padding-right: 50px;
	color: #ff5500;
	font-size: 20px;
	

}
/*--about service css*/
p.paraService1
{
	padding-left: 50px;
	padding-right: 50px;
	color:#555500;
	font-size: 20px;
	
}
	
	/*---availabe cars--*/
	.container2
	{
		width: 1200px;
		margin-left: 10%;
		margin-top: 30px;
		margin-right: 10%;
		
		margin-bottom: 30px;
	    background:#fff3db;
		
		overflow: auto;
		height: auto;
		
		
		
	}
	
	.gallery
	{
		margin: 22px;
		border:1px solid #ccc;
		float: left;
		width: 350px;
	}
	
	.gallery img{
		width: 100%;
		height: 100%;
	}
	
	.description
	{
		padding:15px;
		text-align: center;
		color: #ff5500;
		font-size: 12px;
		font-weight: bold;
		
    
	}
	
	/*---account */
.imgForAccount	
{
	background-image:url('../img/Car-Rental-High-Quality-Wallpaper-1024x647.jpg');
	background-size: 100% 100%;
	width:100%;
	height: 100vh;
}	



	